.gitignore
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
.DS_Store
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/workspace.json
